<div class="card">
  <p-tabMenu [activeItem]="activeItem"
             [model]="items()">
    <ng-template let-item
                 pTemplate="item">
      <a
        class="
          p-menuitem-link
          flex
          justify-content-between
          align-items-center
          p-3
        "
      >
        <div>
          <span [class]="item.icon"></span>
          <p-badge *ngIf="item.badge" [value]="'hello'"></p-badge>
          <span> {{ item.label }}</span>
        </div>
      </a>
    </ng-template>
  </p-tabMenu>
</div>
<span class="pi pi-fw pi-home"></span>
<button (click)="myclick()">click me</button>
